<footer>
  <div class="final_1">
    <a href="ihttps://adalab.es/" target="_blank">ARTICLES</a>
    <a href="ihttps://adalab.es/" target="_blank">BOOKS</a>
    <a href="ihttps://adalab.es/" target="_blank">EVENTS</a>
    <a href="ihttps://adalab.es/" target="_blank">REASONS</a>
    <a href="ihttps://adalab.es/" target="_blank">TIPS</a>
  </div>
  <div class="final_2">
    <a href="ihttps://adalab.es/" target="_blank">TWITTER</a>
    <a href="ihttps://adalab.es/" target="_blank">INSTAGRAM</a>
    <a href="ihttps://adalab.es/" target="_blank">MASTODON.SOCIAL</a>
  </div>
  <div class="final_0">
    <p> &copy; 2025</p>
    <p>we <i class="fa-solid fa-heart" style="color: red;"></i> components</p>
  </div>
</footer>