$color0: #ffffff;
$color1:#f26002;
$color2: #304268;
$color3:#0271bc;
$color4:#8ccbea;
$tipo1: "Roboto";
$tipo2: "RobotoSlab";

// ESTO ES MAS UNIVERSAL

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
main{
    font-family: $tipo1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
    h1{
        font-family: $tipo2;
        font-size: 3.5em;
        font-weight: bold;
        text-shadow: 0px 0.5px 0.5px $color2;
        line-height: 0;
        opacity: 0;
        animation: hello 2s forwards;
    }
        @keyframes hello {to{opacity: 99%;}}
        h2{
            font-family: $tipo2;
            font-size: 1.9em;
            line-height: 1.25em;
    }
    h3{
        font-family: $tipo2;
        font-size: 1.5em;
        line-height: 1em;
    }
    h4{
        color: $color4;
        font-size: 1em;
    }
    p {
        font-size: 1.25em;
        line-height: 1.5em;
    }
    a{
        text-decoration: none;
        color: $color0 ;
        font-size: 1.25em;
        line-height: 1.5em;
        &:hover{ color: $color1 }
    }


// ESTO ES EL ENCABEZADO (HEADER)

.burger {
    position: fixed;
    background-color: $color3;
    background-image: url(../images/ico-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
    &:hover{
        background-color: $color1;
        transition: 0.75s;
    }
}
header{
    background-image: url(../images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: $color2;
    padding-top: 400px;
    color:#ffffff;
    p{font-size: 1.5em;}
}
    .boton_1 {
        background-image: url(../images/ico-scroll-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $color0;
        height: 45px;
        width: 45px;
        border-radius: 50px;
        margin-top: 50px;
        animation: hello2 1s ease-out forwards;
        &:hover{
            background-color: $color1;
            background-image: none;
            transition: 0.75s;
        }
    }
    @keyframes hello2 {to{margin-top:20px}}

    // ESTO ES LA PRIMERA PARTE (ARTICLE)

article{
    background-color: $color0;
    padding: 15px;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    p{color: $color2;}
}
    .boton_go {
        background-color: $color0;
        border-color: $color1;
        height: 45px;
        width: 85px;
        border-radius: 50px;
        border: solid;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:$color1;
        p{color: $color1 ;}
        &:hover{
            background-color: $color2;
            transition: 0.75s;
        }
    }

    // ESTO ES LA SEGUNDA PARTE (SECION)

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color4;
    width: 100%;
    padding-block: 12px;
    gap: 50px;
}
    .all_box{
        display: grid;
        width: 300px;
    }
        .box {
            text-align: center;
            margin-inline: 5px;
        }
        .boton_max {
            background-color: $color1;
            color: $color0;
            height: 45px;
            width: 240px;
            border-radius: 50px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            &:hover {
                background-color: $color0;
                color:$color1;
                transition: 0.75s;
            }
        }
        .boton_2 {
            background-image: url(../images/ico-arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: $color0;
            height: 45px;
            width: 45px;
            border-radius: 50px;
            position: absolute;
            margin-top: 800px;
            &:hover{
                background-color: $color1;
                background-image: none;
                transition: 0.75s;
            }
        }

        // ESTO ES EL FOOTER (FOOTER)

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color0;
    background-color: $color2;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    gap: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{margin: 8px;}
        p{line-height: 0;}
    }
}

// PARA TABLET

@media all and (min-width: 768px) {
    h1{font-size: 5em;}
    h2{font-size: 2.6em;}
    h3{font-size: 1.8em;}
    p{font-size: 1.3em;}
    header{height: 500px; padding-top: 300px;}
    article {padding-inline: 50px;}
    section{padding-inline: 50px;}
    .boton_max{width: 30%;}
    .all_box{
        width: 93%;
        grid-template-columns: auto auto auto;
    }
    .boton_2{
        margin-top: 520px;
    }
    footer{
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
            div{align-items: start;}
            .final_0{order: 0;}
            .final_1{order: 1;}
            .final_2{order: 2;}
    }
}

// PARA ESCRITORIO

@media all and (min-width: 1024px) {
    header {height: 700px; padding-top: 200px;}
    h1{font-size: 7em;}
    article{width: 60%;}
    .boton_go{ width: 150px;}
    .boton_2{margin-top: 500px;}
    footer{justify-content: center; gap:100px;}
}

    // @use 'core/reset';